{% load static %}

<html>
<head>
<title>{% block title %}Login{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
<body>
    <div class="loginbox">
    <img src="{% static 'img/avatar.png' %}" class="avatar">
        <h1>{% block header %}Login Here {% endblock %}</h1>
         {% block content%}
        <form method="POST">
            {% csrf_token %}
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="/registration">Registration</a>
        </form>
        {% endblock %}

    </div>
</body>
</head>
</html>